#logo {
    width: 300px;
    height: auto;
}

#logged_in_user {
    font-size: 2em;
    font-weight: bold;
    font-family: Tahoma;
}

.clear-bg {
    background-color: transparent;
    border: none;
}